---
layout: default
title: hallett lab
categories:
 - home
---
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


<div class="row">
	<div class="col-md-12">
		<object class="pull-left biglogo" data="/images/logo.png" type="image/png"></object>
		<div class="bigtitle logobox">
			hallett lab in computational biology
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
      <p>
        The Hallett lab is in the 
        <a class="off" href="https://www.concordia.ca/artsci/biology.html">
          Department of Biology</a> 
        at Concordia University
        in the 
        <a class="off" href="https://www.concordia.ca/research/genomics.html">
        Centre for Structural and Functional Genomics</a>
        and the 
        <a class="off" href="https://www.concordia.ca/research/casb.html">Centre for Applied Synthetic Biology</a>.
      </p>
  <!--    <p>
        <strong>
          <h2><span style="color: #0000ff;"><span class="c6 c11">

          <a class="off" href="https://mikehallett.science/videos/overview.html">        

        Link to Lecture Videos for the Department of Biology            </a>

        </span></span></h2>
        <br>
        
        A temporary measure as courses swtich to on-line format to provide access to recorded classes.
        </strong> </p>   -->  </p> 
		</div>
	</div>
</div>

<div class="bigspacer"></div>


<div class="row">

	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/blog/">Blog</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for post in site.categories.blog limit:4 %}
			
				{% for member in site.categories.team %}
					{% if member.handle == post.author_handle %}
						{% assign author = member %}
					{% endif %}
				{% endfor %}		
				
				<div class="note-title">
        <i class="far fa-comment"></i>

					<a class="off" href="{{ post.url }}">
					{{ post.title }}
					</a>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ post.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
					{% endif %}						
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/papers/">Papers
			</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">		
			{% for paper in site.categories.papers limit:4 %}
				<div class="note-title">
<i class="fas fa-book"></i>

					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
					<br/>
					<div class='shortref note'>
					{{ paper.shortref }}
					</div>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Published
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	<div class="col-md-4">
		<div class="feedbox pad-left">		
            <div class="head">
                <a class="off" href="https://twitter.com/hallettmichael">
                    Tweets 
                    <a class="twitter-follow-button"
                      href="https://twitter.com/hallettmichael">
                      Follow @hallettmichael</a>
                </a>
            </div>
            <div class="bigspacer"></div>
            <a class="twitter-timeline" data-theme="light" 
                  data-chrome="noheader nofooter transparent noborders" 
                  data-tweet-limit="3" href="https://twitter.com/hallettmichael">Tweets by hallettmichael</a> 
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>







<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav">
					<i class="fas fa-beer"></i> <a class="off" href="/blog/">Blog</a>
				</li>
				<li class="footernav">
          <i class="fas fa-university"></i>
					<a class="off" href="http://www.concordia.ca/">
					  <img class="pull-right" src="/images/concordia.logo.small.png"></a>
				</li>

			  <li>
			  <i class="fas fa-vial"></i>
      	<a class="footernav" href="https://www.concordia.ca/research/casb.html">
          <img class="pull-right" src="/images/casb.small.png"></a>
	      </li>
	 
	     <li>
        <i class="fas fa-syringe"></i>
      	<a class="footernav" href="https://www.concordia.ca/research/genomics.html">
          <img class="pull-right" src="/images/csfg.small.png"></a>
	      </li>
	      
	
			</ul>
		</div>
		
		
		<div class="spacer"></div>
	</div>
</div>

