---
layout: default
title: team
categories:
  - team
group: navigation
navorder: 6
description: "People in the lab"
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Current members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="bigspacer"></div>
{% for member in site.categories.team reversed %}
	{% if member.alumni == false %}
	  {% cycle 'add rows': '<div class="row">', '', '' %}
			<div class="col-md-4 memberbox">
				<div class="media">
	  			<a class="pull-left" href="{{ member.url }}">
	    			<img width="150" class="media-object" src="{{ member.image }}">
	  			</a>
	 			 	<div class="media-body">
	    			<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
	    			<p class="note">{{ member.position }}</p>
	  			</div>
				</div>
				<div class="bigspacer"></div>
				<div class="bigspacer"></div>
	    </div>	  
	  {% cycle 'close rows': '', '', '</div>' %}
	{% endif %}
{% endfor %}

<br>
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Past members
		</div>
	</div>
</div>

<div class="bigspacer"></div>


{% for member in site.categories.team %}
	{% if member.alumni == true %}
	  {% cycle 'add alumni rows': '<div class="row">', '', '' %}
			<div class="col-md-4 memberbox">
				<div class="media">
	  			<a class="pull-left" href="{{ member.url }}">
	    			<img width="150" class="media-object" src="{{ member.image }}">
	  			</a>
	 			 	<div class="media-body">
	    			<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
	    			<p class="note">{{ member.position }}</p>
	    			<p class="note"><a href="{{ member.link }}" class="off">{{ member.current }}</a></p>
	  			</div>
				</div>
				<div class="bigspacer"></div>
				<div class="bigspacer"></div>
	    </div>	  
	  {% cycle 'close alumni rows': '', '', '</div>' %}
	{% endif %}
{% endfor %}

<div class="bigspacer"></div>