---
layout: default
title: hallett lab / blog
categories: 
 - blog
---

<div class="row">
	<div class="col-md-12">
		<div class="bigtitle">
			blog
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

{% for event in site.categories.blog %}
{% unless event.draft %}

	{% for member in site.categories.team %}
		{% if member.title == event.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-4 eventbox">
			<div class="smallhead">
				<a href="{{ event.url }}" class="off">{{ event.title }}</a>
			</div>
			<div class="smallspacer"></div>
      {% if event.venue %}
			<div class="note">
				{{ event.event }} at {{ event.venue }} at {{ event.when }}
			</div>
      {% else %}
      <div class="note">
				{{ event.event }}
			</div>
      {% endif %}
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ event.date | date: "%-d %b %Y" }}
				by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': nil, nil, '</div>' %}
{% endunless %}
{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %}
