---
layout: default
---

<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object" src="{{ page.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="title media-heading">
					{{ page.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ page.coursenumber }}
					{{ page.year }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.pdf %}
			<div class="smallhead">
				PDF
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ page.pdf }}">{{ page.pdf | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.supplement %}
			<div class="smallhead">
				Supplement
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-paperclip fa-fw"></i>
				<a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.doi %}
			<div class="smallhead">
				DOI
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="http://dx.doi.org/{{ page.doi }}">{{ page.doi }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.coursenumber %}
			<div class="smallhead">
				Course Number
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fas fa-jedi-warrior"></i>
				<a class="off" href="{{ page.coursenumberwww }}">{{ page.coursenumber }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.instructor %}
			<div class="smallhead">
				Instructor
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fas fa-ninja"></i>
				<a class="off" href="{{ page.instructorwww }}">{{ page.instructor }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.github %}
			<div class="smallhead">
				GitHub
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fab fa-github fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://github.com/' | remove: 'https://github.com/' }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}			
			{% if page.bitbucket %}
			<div class="smallhead">
				BitBucket
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fab fa-bitbucket fa-fw"></i>
				<a class="off" href="{{ page.bitbucket }}">{{ page.bitbucket  }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.www %}
			<div class="smallhead">
				WWW
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-www-alt fa-fw"></i>
				<a class="off" href="{{ page.www }}">{{ page.www }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
