---
layout: default
---


	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56756908-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-56756908-2');
</script>


<div class="row">
	<div class="col-md-12">
		<div class="bigtitle">
			{{ page.title }}
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>	
	</div>			
	<div class="col-md-2"></div>
</div>	




